*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img,
svg,
picture {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

ul,
ol {
	list-style-type: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}
